*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	
	color: #494a5b;
	font-family: 'Roboto', sans-serif !important;
}
#calculator{
	display: none;
}

.main-container{
	margin: 0 auto;
	padding: 20px;
	width:800px;
	text-align: center;
}
.main-heading{
	color: #030369;
	font-size: 24px;
}

.sub-heading {
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 20px;
}
.map-container{
	text-align: center;
}
.country-tag{
	border: 1px solid black;
	border-radius: 8px;
	display: inline-block;
	padding: 5px 10px;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	
}
.country-tag:hover{
	
}
.country-tag span{
	padding: 0px 15px;
}
.country-tag img{
	position: absolute;
	right: 4px;
	top: 4px;
	background-color: transparent;
}


 .top-margin{
	margin-top: 30px;
}

.services-container .services{
	margin-right:15px;
}
.mid-font{
	font-size: 14px;
	font-weight: 400;
}
.small-font{
	font-size: 12px;

}
.btn-style{
	background-color: #2BB031;
	border: none;
	padding: 10px;
	color: #fff;
	border-radius: 4px;
	outline: none;
}
.btn-style:hover{
	box-shadow: 0px 2px 3px 0 rgba(51,51,51,1);
}
.costing-box{
	background-color: #f7f8fc;
	display: flex;
	padding: 30px;
}
.costing-box div{
	flex-grow: 1;
}
.costing-box #inBoundCtn{
	border-left: 1px solid #c1c8e2;
}

.costing-box .cost{
	color: #030369;
	font-weight: 700;
	font-size: 20px;
}
.slider-box div{
	display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 20px;
}

.range-slider{
	-webkit-appearance: none; 
	  appearance: none;
	  width: 80%; 
	  height: 8px;
	  background: #d3d3d3; 
	  outline: none; 
	 border-radius:5px;
}
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border: 0;
  background: url('../Plivo project/slider.svg');
  background-repeat: no-repeat;
  cursor: pointer;

}

.contact-box{
	background-color: #f7f9fb;
	width: 800px;
	padding: 30px;
	display: none;
}
.row{
	display: flex;
	margin-top: 10px;
	margin-bottom: 20px;
}
.col{
	flex-grow: 1;
	text-align: left;
	flex-basis: 50%;

}
.row .col input,select,textarea{
	width:100%;
	padding: 10px;
	border-radius: 3px;
	border:1px solid #e0e0e3;
}
.row .col textarea{
	-webkit-appearance: none;
	height: 80px;
}
.row .col select{
	-webkit-appearance: none;
	background-color: #fff;
}
.row .col label{
	display: inline-block;
	margin-bottom: 10px;
}
.row .col:first-child{
	padding-right: 10px;
}
.row .col:nth-child(2){
	padding-left: 10px;
}
.submit-btn{
	text-align: right;
}
#pricing-btn a{
	text-decoration: none;
	color: #fff;
}

.common-customCheckbox {
    position: relative;
    cursor: pointer;
}

.common-customCheckbox input {
    margin: 0 16px 0 0;
    visibility: hidden;
    padding-left: 4px;
}


.common-checkboxIndicator {
    position: absolute;
    top: 0;
    left: -23px;
    width: 21px;
    height: 21px;
    zoom: .9;
    border: 1px solid #c3c2c9;
    background: url("./ic_checkbox_disabled.svg");
    border-radius: 2px;
}

.common-customCheckbox input:checked ~ .common-checkboxIndicator {
    border: none;
    background: url("./ic_checkbox.svg");
}